.profile-opt-cards {
  width: 90%;
  margin: 25px auto;
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px #222;
}

.opts-desc {
  background-color: whitesmoke;
}

.card-body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.cta-can {
  display: flex;
}

.cta-btn {
  color: #111;
  border: #111 solid 1pt;
  background-color: goldenrod;
  margin: 0 auto;
  width: 50%;
}

.cta-btn:hover {
  background-color: #061237;
}

.card-text {
  margin: 15px 0;
}

.welcome {
  padding: 25px 0;
  justify-content: center;
}

/*-----------------------------*/

.msg-submit-btn,
.msg-clear-btn {
  background-color: #222;
}

.message-form-can {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 350px;
  max-width: 900px;
  width: 80%;
  background-color: #797979;
}

select,
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.msg-txt-area {
  min-height: 150px;
}

.notification-cards {
  width: 50%;
  margin: 0 auto;
  min-width: 300px;
}

.noty-link-btn {
  background-color: #222;
  border: #222 solid 1px;
}
