.invoice-cards-can {
  display: flex;
  flex-wrap: wrap;
}

.invoice-cards {
  background-color: whitesmoke;
  margin: 25px auto;
  min-width: 350px;
  width: 32%;
}

.invoice-section-header {
  font-size: 35pt;
  margin: 50px 0;
  padding-top: 25px;
  font-weight: 600;
}

.card-body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.cta-can {
  display: flex;
}

.cta-btn {
  color: #111;
  border: #111 solid 1pt;
  background-color: goldenrod;
  margin: 0 auto;
  width: 50%;
}

.cta-btn:hover {
  background-color: #061237;
}

.card-text {
  margin: 15px 0;
}

.inv-meta-can {
  display: flex;
  flex-direction: column;
}

.invoice-date-can {
  display: flex;
  justify-content: space-between;
}

.invoice-header-can {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inv-link-btn {
  width: 80%;
  margin: 0 auto;
  background-color: #222;
  border: #222 solid 1px;
}

.hr-divider-can {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 50px auto;
}

.hr-divider-line {
  width: 90%;
  margin-right: 10px;
}

.hr-divider-line-solo {
  width: 100%;
  margin: 75px auto 0;
}

.no-pics {
  margin: 50px auto;
  min-width: 80%;
  min-height: 250px;
  border: #b3b3b3 5px dashed;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-form-can {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 370px;
  max-width: 900px;
  width: 80%;
  background-color: whitesmoke;
  box-shadow: #222 3px 3px 3px;
  border-radius: 5px;
  padding: 25px;
}

.message-form-can > select,
.message-form-can > input {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 5px;
}

.msg-txt-area {
  min-height: 150px;
  margin-bottom: 25px;
  padding: 10px;
}

.msg-submit-btn,
.msg-clear-btn {
  background-color: #222;
  margin: 10px 0;
}

.invoice-create-hdr {
  text-align: center;
}
