html,
body {
  margin: 0;
  color: black;
  background-color: #030d2c;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

header {
  background-color: aqua;
}

header .container {
  text-align: center;
  align-items: center;
}

.navbar {
  border-bottom: rgb(141, 141, 141) solid 1px;
}

.banner {
  margin-top: 0;
}

.welcome {
  display: flex;
  flex-wrap: wrap;
}

.page-contents {
  padding-top: 65px;
  min-height: 200vh;
  background-color: gainsboro;
}

.page-links {
  display: flex;
  color: black;
}

.link-btn {
  padding: 0 5px;
}

.logout-btn {
  max-width: 50px;
  padding: 3px 2px;
  font-size: 8pt;
  text-align: center;
}

.pname {
  font-size: 9pt;
}

.rh-logo,
.rh-topnav-logo {
  max-width: 225px;
  margin: 0;
}

.MNavi {
  display: none;
}

.creds-btn {
  margin: 0 5px;
  padding: 0 6px;
  background-color: goldenrod;
  border: gainsboro solid 1px;
}

.creds-btn:hover {
  background-color: gainsboro;
  border: gainsboro solid 1px;
  color: black;
}

.creds-btn:active {
  background-color: gainsboro;
  border: gainsboro solid 1px;
  color: black;
}

.creds-btn:focus {
  background-color: gainsboro !important;
  border: gainsboro solid 1px !important;
  color: black;
}

@media screen and (max-width: 710px) {
  .top-navi {
    display: none;
  }

  .topnav-contents {
    justify-content: center !important;
  }

  .rh-logo {
    max-width: 175px;
  }

  .MNavi {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    min-height: 50px;
    border-top: rgb(141, 141, 141) solid 1px;
  }

  .bott-navi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-link {
    height: 100%;
  }

  .bttm-link-btn {
    width: 100%;
    color: black;
  }

  .bttm-link-btn:hover {
    color: goldenrod;
  }
}
